<%-include('include/_header')%>
    <!-- Main Site-->
    <%- include('include/_sidebar')%>
            <div class="main-site">       
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/dashboard"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">New Task</h2>
             <span class="text-light">Use the below form to create a new account</span>
         </div>
         <%-include('include/_form')%>
        </div>
    </main>
<!-- Main Site-->
<%-include('include/_footer')%>