<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAW Kelompok 6</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <header id="header">
        <nav>
            <div>
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Task Management System</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Main Site-->
    <main id="site-main">
        <div class="container">       
            <!-- form handling -->
            <form action="/api/users" method="POST" id="add_task">
                <div class="new_task">
                    <div class="form-group">
                        <label for="TaskName" class="text-light">Task Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="taskName" value="" placeholder="College task">
                    </div>
                    <div class="form-group">
                        <label for="Description" class="text-light">Description</label>
                        <input type="textarea" name="taskDesc" value="" placeholder="Task description">
                    </div>
                    <div class="form-group">
                        <label for="Deadline" class="text-light">Deadline</label>
                        <input type="date" name="taskTime" value="">
                    </div>
                    <div class="form-group">
                        <label for="Priority" class="text-light">Priority</label>
                        <select name="taskPriority" id="taskPriority">
                            <option value="High">High</option>
                            <option value="Normal">Normal</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </main>
    <!-- Main Site-->
</body>
</html>