<!-- form handling -->
<form action="/api/tasks" method="POST" id="add_task">
    <div class="new_task">
        <div class="form-group">
            <label for="TaskName" class="text-light">Task Name</label>
            <input type="hidden" name="id" value="">
            <input type="hidden" name="taskStat" value="Not Started">
            <input type="text" name="taskName" value="" placeholder="College task">
        </div>
        <div class="form-group">
            <label for="Description" class="text-light">Description</label>
            <input type="textarea" name="taskDescription" value="" placeholder="Task description">
        </div>
        <div class="form-group">
            <label for="Deadline" class="text-light">Deadline</label>
            <input type="text" name="taskTime" value="">
        </div>
        <div class="form-group">
            <label for="Priority" class="text-light">Priority</label>
            <select name="taskPriority" id="taskPriority">
                <option value="High">High</option>
                <option value="Normal">Normal</option>
                <option value="Low">Low</option>
            </select>
        </div>


        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
