<tr>
    <td>taskID</td>
    <td>taskName</td>
    <td>taskDesc</td>
    <td>taskPriority</td>
    <td>taskStat</td>
    <td>taskTime</td>
    <td>
        <a href="/edit_task" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>