<main id="site-main">
    <div class="container">
        <div class="sidebar">
            <div class="side-head">
                <div class="side-hlist">
                    <i id="menuside" class="fa-solid fa-bars icon"></i>
                    <a href="/">
                        <!-- <i id="menu" class="fa-sharp fa-solid fa-list icon"></i> -->
                        <span class="side-hdesc">Task Management</span>
                    </a>
                </div>
            </div>

            <div class="side-illust">
                <img src="" alt="">
            </div>

            <div class="side-body">
                <div class="side-blist">
                    <a href="/">
                        <i class="fa-solid fa-house icon"></i>
                        <span class="side-bdesc">Homepage</span>
                    </a>
                </div>
                <div class="side-blist">
                    <a href="/dashboard">
                        <i class="fa-solid fa-list-check icon"></i>
                        <span class="side-bdesc">Task Dashboard</span>
                    </a>
                </div>
                <div class="side-blist">
                    <a href="/">
                        <i class="fa-solid fa-book icon"></i>
                        <span class="side-bdesc">Notebook</span>
                    </a>
                </div>
            </div>
        </div>